*{
    margin:0; /*establece los márgenes de un elemento especificando entre uno y cuatro valores, donde cada valor es una longitud, un porcentaje o auto*/
    padding:0; /*El área de padding es el espacio entre el contenido */
    box-sizing: border-box; /*es una propiedad CSS para cambiar el modelo de caja por defecto de los navegadores*/
}

body{
    background: #fff; /*color de fondo en la web */
    font-family:'lato'; /*Es el tipo de letra o familia de tipos de letra es el tipo de letra que se aplicará al cuerpo de texto en un navegador*/
    font-size: 16px; /*Es el tamaño de la fuente de letra */
}

.contenedor{
    width: 90%;/*el archo de la pagina web porcentaje que se adapta segun al tamaño del navegador */
    max-width: 1000px; /*Así max-width define el ancho máximo que un elemento puede tener.max-width cambia el tamaño del elemento si el valor de width es mayor
     que el de max-width*/
    overflow: hidden;/*a propiedad CSS overflow: si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento a nivel de bloque.*/
    margin: auto; /*La propiedad margin establece los márgenes de un elemento especificando entre uno y cuatro valores, donde cada valor es una longitud, un porcentaje
     o auto.*/
}

header{
    background-image: url('../img/fondo/ropa_fondo1.jpg'); /*La propiedad La imagen se muestra en la zona que ocupan el contenido y el relleno del elemento, justo hasta su borde*/
    height:600px; /* representa la altura la medida*/
    background-repeat: no-repeat; /*La propiedad de CSS background-repeat define como se repiten los fondos del documento. Un fondo de imagen puede ser repetido sobre 
    el eje horizontal, el eje vertical, ambos ejes, o no estar repetido*/
    background-position:center; /*background-position define la posición inicial de la imagen de fondo especificada.*/
    background-attachment: cover;/*La propiedad  si la imagen de fondo establecida en un elemento se mueve o permanece fija cuando se hace scroll en la ventana del 
    navegador.*/
}
.nav4{
    overflow:hidden;
    background-color: rgb(184, 141, 24);
}
.nav4 .hola ul{
    list-style:none;

}
.nav4 .hola ul li{
    float: left;
}
.nav4 li a{
    padding:10px 20px;
    display:block;
    color:rgb(255, 255, 255);
    text-decoration:none;
    font-weight: 600 ;   
    font-size: 25px;
}
.nav4 ul li a:hover{
    background: rgb(0, 128, 179);
}

.nav3{
    overflow:hidden;
    background-color: rgb(5, 132, 155);
}
.nav3 .psto ul{
    list-style:none;

}
.nav3 .psto ul li{
    float: left;
}
.nav3 li a{
    padding:10px 20px;
    display:block;
    color:rgb(0, 0, 0);
    text-decoration:none;
    font-weight: 1000 ;
    font-size: 25px;
}
.nav3 ul li a:hover{
    background: rgb(0, 128, 179);
}

.nav2{
    overflow:hidden;
    background-color: rgb(255, 200, 200);
}
.nav2 .psto ul{
    list-style:none;

}
.nav2 .psto ul li{
    float:left;
}
.nav2 li a{
    padding:10px 20px;
    display:block;
    color:rgb(0, 0, 0);
    text-decoration:none;
    font-weight: 1000 ;
    font-size: 21px;
}
.nav2 ul li a:hover{
    background: rgb(255, 152, 152);
}


.nav1{
    overflow:hidden;
    background-color: rgb(255, 200, 200);
}
.nav1 .psto ul{
    list-style:none;

}
.nav1 .psto ul li{
    float:left;
}
.nav1 li a{
    padding:10px 20px;
    display:block;
    color:rgb(0, 0, 0);
    text-decoration:none;
}
.nav1 ul li a:hover{
    background: rgb(255, 179, 232);
}



header .menu{
    margin:30px 0; /*establece los márgenes de un elemento especificando entre uno y cuatro valores, donde cada valor es una longitud, un porcentaje o auto*/
    display:flex;/*La propiedad CSS flex alterar las dimensiones, Los elementos flexibles pueden ser estirados para utilizar el espacio disponible proporcional.*/
    justify-content: flex-end; /*La propiedad CSS justify-content define cómo el navegador distribuye el espacio entre y alrededor de los items flex, a lo largo
     del eje principal de su contenedor*/
    flex-wrap: wrap; /*La propiedad flex-wrap de CSS especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. */
}
header .menu a:hover{
    text-decoration: underline;
}
header .menu a{
    font-size:18px;
    font-family: 'lato';
    font-weight: 300; /*La propiedad font-weight de CSS especifica el peso o grueso de la letra. Algunos tipos de letra sólo están disponibles en normal y bold .*/
    display: inline-block; /* display : inline. El elemento aparece en línea  */
    padding:10px 0;
    margin:0 15px;
    color:rgb(255, 255, 255);
    text-decoration: none;/*se usa para establecer el formato de texto a subrayado ( underline ) y suprarrayado ( overline ), tachado ( line-through ) o parpadeo ( blink ).*/
}
header .contenido-header{
    margin:120px 0;
    display: flex; /*La propiedad CSS flex alterar las dimensiones, Los elementos flexibles pueden ser estirados para utilizar el espacio disponible proporcional.*/
    flex-direction: column;/*La propiedad CSS flex-direction especifica cómo colocar los objetos flexibles en el contenedor flexible definiendo el eje principal y la dirección*/
    flex-wrap: wrap; /*La propiedad flex-wrap de CSS especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. */
    justify-content: center;
    align-content: center;
}
header .contenido-header .titulo-header{
    font-size: 70px;
    text-align: center;
    color: #fff;
    text-align: center;
    width: 700px;
    height: 2px;
}


header .contenido-header .texto-header{
    color:#fff;
    font-weight: 300;
    margin-bottom:30px;
    font-size:20px;
    text-align: center;
}

header .contenido-header .action-header{
    display: inline-block;
    margin: auto;
    color: #fff;   
    text-decoration: none;
    border:2px solid #184599;;
    padding: 10px 20px;
    border-radius: 10px;
    
}

header .contenido-header .action-header:hover{
    background: #15a4fa;
    color: #fff;
}

main .quienes{
    background: #f0f3f5;
    padding:60px 0;
}

main .quienes .quienes-titulo{
    color:#000;
    font-size: 35px;
    text-align: center;
    margin-bottom:20px;
}

main .quienes .quienes-parrafo{
    text-align: center;
    color:#184599;
    font-weight: 500;
    font-size: 20px;
}

main .quehacemos{
    margin:60px 0;  
}
main .contenido-cajas{
    display: flex; /*La propiedad CSS flex alterar las dimensiones, Los elementos flexibles pueden ser estirados para utilizar el espacio disponible proporcional.*/
    justify-content: space-between;/*La propiedad CSS justify-content define cómo el navegador distribuye el espacio entre y alrededor de los items flex, a lo largo del 
    eje principal de su contenedor.*/
    flex-wrap: wrap;
}

main .quehacemos .contenido-cajas .tarjeta{
    width: 30%;
    text-align: center;
}

main .quehacemos .contenido-cajas .tarjeta .contenido-tarjeta .titulo-tarjeta{
    margin:10px 0;   
}

main .portafolio{
    background: #f0f3f5;
    padding: 60px 0;
}

main .portafolio .portafolio-textos{
    text-align: center;
    margin-bottom: 60px;/*CSS (margen-inferior) es la propiedad de un elemento que establece el espacio requerido en la parte inferior de un elemento*/
    color:#b43838;
    font-size: 20px;
}

main .portafolio .portafolio-textos p{
    color: #4c4b92;
    font-size: 20px;
    margin:20px 0 0 0;
}

main .portafolio .galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*La propiedad flex-wrap de CSS especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. */
}

main .portafolio .galeria .fotos{
    width: 22%; /*espscio de lAdo entre img*/
    margin-bottom:20px; /*espscio entre img*/
}

main .portafolio .galeria .fotos img{
    width: 102%;
    height: 275px;
    border-radius: 9px;
}
main .portafolio .galeria .fotos img:hover{
    opacity:.8;
    cursor: pointer;
}


footer .contacto{
    background-image: url(../imagen/perro-y-nena\ 1.png);
    background-position:center;
    padding:60px 0;
}

footer .footer-textos{
    text-align: center;
    color: rgb(46, 43, 43);
    font-size:25px;
}

footer .footer-textos p{
    font-size: 14px;
    margin:15px 0 30px 0;
    color: #ffffff;

}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    
}
footer .contacto  input[type="text"], footer .contacto  input[type="email"],
footer .contacto  textarea{
    width: 100%;
    margin: 5px 0;
    padding: 15px 20px;
    background: none;
    border-radius: 5px;
    color:rgb(204, 204, 204);
    border: 2px solid rgb(65, 106, 168);
    font-family: 'lato';
    font-weight: 300;
}
footer .contacto  textarea{
    height:150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}
.derecha{
   display: flex;
   justify-content: flex-end;
}
footer .contacto  input[type="submit"]{
    display:block;
    width: 100px;
    margin:10px 0;
    padding: 10px 15px;
    background: none;
    border:1px solid #15a4fa;
    border-radius: 5px; /*La propiedad border-radius de CSS3 nos permite redondear los bordes de las cajas.diseño 
    de las cajas que muestran el contenido de una web y para hacer algunas figuras sencilla, como los círculos*/
    color:#fff;
    cursor: pointer; /*te coloca el puntero de mouse es una manito de navegador web*/
    float:right;
}
footer .contacto  input[type="submit"]:hover{
    background: #15a4fa;
    color: #fff;
}

.footer{
    height:200px;
    background: #000;
}
/*medida de moviles horizontales tables verticales : screen pantalla and=y */
@media screen and (max-width:760px){
    header .menu{
        justify-content: center;/*contenido texto centrando uniforme*/
        background: red;/*color de fondo */
    }
    header .contenido-header .texto-header{
       font-size:18px; /*tamaño fuente 18px*/
       background: #2d3950;
    }
    header .contenido-header .texto-header .desaparecer{
        display:none ;/*ocultando el texto none:oculto */
        background: orange;
    }
}
/*moviles verticales en general: motorola,huawei.*/
@media screen and (max-width:630px){
    header .contenido-header .titulo-header{
        font-size:80px;
    }
    header .contenido-header .linea-header{
        width: 400px;
    }
    main .portafolio .galeria .fotos{
        width:49%;
    }
}
/* CELULAR MEDIANOS SMARTH PTHONES*/
@media screen and (max-width: 500px){
    header .contenido-header .titulo-header{
        font-size:40px;
    }
    main .quehacemos .contenido-cajas .tarjeta{
       width: 48%;
    }
    main .contenido-cajas{
        justify-content: center
    }
    main .quehacemos .contenido-cajas .tarjeta{
        margin:20px 0;
    }
}
/* CELULAR PEQUEÑOS SMARTH PTHONES*/
@media screen and (max-width: 350px){
    main .quehacemos .contenido-cajas .tarjeta{
        width: 98%;
    }
    header .contenido-header .texto-header{
        font-size:15px;
    }
}